<launch>
  <!-- change this next line to include the launch file for your robot's hardware drivers:
  <include file="$(find knex_ros)/launch/knex_arduino_ser.launch" />
  -->

 <param name="robot_description" textfile="/home/thieri/rosbuild_ws/launch/toady.urdf" />

  <!-- ############## Depth2Scan Realsense ############  -->

    <group ns="R200">
    <group ns="Depth2Laser">
	  <node pkg="depthimage_to_laserscan_upper" type="depthimage_to_laserscan_upper" respawn="true" name="R200ScanUpper" output="screen">
		  <param name="range_max" value="5"/>
		  <param name="range_min" value=".31"/>
		  <param name="output_frame_id" value="R200_upper_frame"/>
		 	     <remap from="image" to="/R200/camera/depth/image_raw"/>
		 	     <remap from="scan" to="Depth2ScanUpper"/>
	  </node>
	  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" respawn="true" name="R200Scan" output="screen">
		  <param name="range_max" value="5"/>
		  <param name="range_min" value=".31"/>
		  <param name="output_frame_id" value="R200_mid_frame"/>
		 	     <remap from="image" to="/R200/camera/depth/image_raw"/>
		 	     <remap from="scan" to="Depth2ScanMid"/>
	  </node>
	  <node pkg="depthimage_to_laserscan_lower" type="depthimage_to_laserscan_lower" respawn="true" name="R200ScanLower" output="screen">
		  <param name="range_max" value="5"/>
		  <param name="range_min" value=".31"/>
		  <param name="output_frame_id" value="R200_lower_frame"/>
		 	     <remap from="image" to="/R200/camera/depth/image_raw"/>
		 	     <remap from="scan" to="Depth2ScanLower"/>
	  </node>
    </group>   
    </group>   

  <!-- ############## ESTIMATE ############  -->

  <!-- 	##############################
	#### amcl #################### 
	#### TF odom => map ########## 
	##############################	
	 IN:	/map
		/scan
		/tf_static
		/tf
	 OUT: 	/amcl_pose	@ ?Hz
		/particlecloud	@ ?Hz
		/tf odom->map	@ ?Hz
	############################## -->
		<node pkg="amcl" type="amcl" name="amcl" output="screen">
		  <param name="use_map_topic " value="true"/>
		  <!-- Publish scans from best pose at a max of 10 Hz -->
		  <param name="odom_model_type" value="diff"/>
		  <param name="base_frame_id" value="base_link"/>
		  <param name="odom_frame_id" value="odom"/>
		  <param name="transform_tolerance" value="0.2" />			<!-- 0.5 -->
		  <param name="gui_publish_rate" value="10.0"/>

<!---->		  <param name="odom_alpha5" value="0.1"/>
		  <param name="laser_max_beams" value="30"/>
		  <param name="min_particles" value="500"/>
		  <param name="max_particles" value="5000"/>
		  <param name="kld_err" value="0.05"/>
		  <param name="kld_z" value="0.99"/>
		  <param name="odom_alpha1" value="0.2"/>
		  <param name="odom_alpha2" value="0.2"/>
<!---->
		  <!-- translation std dev, m -->

<!---->		  <param name="odom_alpha3" value="0.8"/>
		  <param name="odom_alpha4" value="0.2"/>
		  <param name="laser_z_hit" value="0.5"/>
		  <param name="laser_z_short" value="0.05"/>
		  <param name="laser_z_max" value="0.05"/>
		  <param name="laser_z_rand" value="0.5"/>
		  <param name="laser_sigma_hit" value="0.2"/>
		  <param name="laser_lambda_short" value="0.1"/>
		  <param name="laser_model_type" value="likelihood_field"/>
<!---->
		  <!-- <param name="laser_model_type" value="beam"/> -->

<!---->		  <param name="laser_likelihood_max_dist" value="2.0"/>
		  <param name="update_min_d" value="0.2"/>
		  <param name="update_min_a" value="0.5"/>
		  <param name="odom_frame_id" value="odom"/>
		  <param name="resample_interval" value="1"/>
		  <param name="transform_tolerance" value="0.1"/>
		  <param name="recovery_alpha_slow" value="0.0"/>
		  <param name="recovery_alpha_fast" value="0.0"/>
<!---->
 	     <remap from="odom" to="odom"/>
		</node>
  <!--  #################### -->

  <!-- ############## MAPPING ############  -->


	######################
	#### move_base ####### 
	######################	

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="/home/thieri/rosbuild_ws/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/thieri/rosbuild_ws/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/home/thieri/rosbuild_ws/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="/home/thieri/rosbuild_ws/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="/home/thieri/rosbuild_ws/launch/base_local_planner_params.yaml" command="load" />
  </node>

  <!--  #################### -->


  <!-- ############## MAPPING ############  -->


	####################
	#### gmapping ####### 
	####################	
	 IN:	/scan
		/tf
		/tf_static
	 OUT: 	/tf		@ ???Hz
		/map		@ ???Hz
		/map_metadata	@ ???Hz
		/tf odom -> map
	#################### -->

	<node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
 	     <!--<remap from="base_scan" to="scan"/>-->
	     <rosparam param="maxUrange">35</rosparam>
	     <rosparam param="maxRange">40</rosparam>
	</node>



</launch>




