<launch>
  <!-- change this next line to include the launch file for your robot's hardware drivers:
  <include file="$(find knex_ros)/launch/knex_arduino_ser.launch" />
  -->

 <param name="robot_description" textfile="/home/thieri/rosbuild_ws/launch/toady.urdf" />

  <!-- ############## VISU ############  -->

  <!-- 	####################
	#### virt. joystick ## 
	####################	
	 IN:	...
	 OUT: 	/virt_joy_twist		@ variable
			x_... = vor/zurück in m/sec  5.5=20kmh 2=7kmh
			r_.. = L/R in m/sec		1=57°/sec
	#################### -->
	  <node pkg="differential_drive" type="virtual_joystick.py" name="virtual_joystick" output="screen">
	      <rosparam param="x_min">-1.0</rosparam>
	      <rosparam param="x_max">1.0</rosparam>
	      <rosparam param="r_min">-1.5</rosparam>
	      <rosparam param="r_max">1.5</rosparam>
 	      <remap from="twist" to="twist_virt_joy"/>
	  </node>


  <!--  #################### -->  <!-- RViz  -->
 	<node pkg="rviz" type="rviz" name="rviz" output="screen"/>


  <!-- Topic-Graphen  -->
	<node pkg="rqt_graph" type="rqt_graph" name="rqt_graph" output="screen">
	</node>


  <!-- PID-Graphen  -->
<!--	<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" output="screen">
	</node>
-->

</launch>
